---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

import { headerData } from '~/navigation';

const metadata = {
  title: 'Duane Leem | DevOps Engineer',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header {...headerData} isSticky showToggleTheme />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Duane Leem"
    tagline="DevOps Engineer"
    actions={[{ variant: "primary", target: '', text: 'About Me', href: '#about' }]}
  >
    <Fragment slot="subtitle">
      With over two decades in IT, I've been a key resource in managing complex systems and 
      developing diverse software applications. Specialized in Software Engineering and 
      Project Management, my career showcases a rich timeline of milestones that reflect 
      my expertise in the IT landscape.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/duaneleem',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'http://www.linkedin.com/in/duaneleem',
        },
      },
      {
        icon: 'tabler:brand-google-drive',
        callToAction: {
          target: '_blank',
          text: 'Resume',
          href: 'https://docs.google.com/document/d/1bvakr9gKH-lk7mX_VRstMJ-3Vv3tJLSQuiHWkOdnrUs/edit?usp=sharing',
        },
      }
    ]}
    image={{
      src: 'https://blog.duaneleem.com/wp-content/uploads/2023/10/Profile-20230718-Duane-Leem.jpeg',
      alt: 'Duane Leem, PMP',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h3>
      <p>
        Beginning in the year 2000, I have been an instrumental resource for both business associates and 
        clientele, skillfully managing intricate systems and networking architectures, as well as crafting 
        a diverse array of software applications. My professional journey in the realm of Information 
        Technology is particularly focused on the specialized fields of Software Engineering and Project 
        Management. 
      </p>
      <br />
      <p>
        To offer a comprehensive overview of my career milestones, I've assembled a detailed timeline that 
        highlights my depth of experience within the IT sector. 
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:`
          Senior DevOps Manager <span class="text-sm font-normal">(2022 - 2023)</span> <br />
          <ul class="dl-steps-li-previous-roles">
            <li><span class="font-normal">Lead DevOps Engineer <span class="text-sm font-normal">(2018 - 2022)</span></span></li>
          </ul>
          <span class="font-normal">Warrior Trading, San Francisco Bay Area, CA</span> <br />
          <span class="text-sm font-normal">2018 - Present</span>
        `,
        description: `As a Senior DevOps Engineer at Warrior Trading, I lead AWS & Kubernetes initiatives to enhance server performance. Proficient in multiple technologies, my focus is on automating software delivery through Jenkins, Ansible, and Terraform. Committed to innovation, I ensure high availability and quick deployments.`,
        icon: 'tabler:briefcase',
      },
      {
        title: `
          Chief Technology Officer <span class="text-sm font-normal">(2014 - 2018)</span> <br />
          <ul class="dl-steps-li-previous-roles">
            <li><span class="font-normal">Director of Technology <span class="text-sm font-normal">(2010 - 2014)</span></span></li>
            <li><span class="font-normal">Lead Web Developer</span> <span class="text-sm font-normal">(2006 - 2010)</span></li>
            <li><span class="font-normal">Network Administrator</span> <span class="text-sm font-normal">(2006)</span></li>
          </ul>
          <span class="font-normal">Staged Homes, San Francisco Bay Area, CA</span> <br /> <span class="text-sm font-normal">2006 - 2018</span>
        `,
        description: `
          As a Software Engineering Manager, I excel in orchestrating full stack development, guiding projects from inception to 
          deployment with a strategic approach. My expertise in leveraging cloud infrastructures like AWS and Google Cloud, coupled 
          with containerization through Docker, has driven cost efficiency and process automation at Staged Homes. My proficiency 
          with modern JavaScript frameworks and commitment to robust back-end solutions consistently enhance scalability and performance.
        `,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="education"
    title="Education"
    items={[
      {
        title: `Master of Science in Information Technology Management <br />
          <span class="font-normal">Golden Gate University, Ageno School of Business</span> <br />
          <span class="text-sm font-normal">Graduated 2014</span> <br />
          <span class="text-sm font-normal">🔗 <a href='https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/achievements/201504-masters-itm.jpg' target='_blank'>Master's of Science Degree</a></span>
        `,
        icon: 'tabler:school',
      },
      {
        title: `Machine Learning Engineering for Production (MLOps) Specialization <br />
          <span class="font-normal">DeepLearning.ai</span> <br />
            <span class="text-sm font-normal">Program Completion December 2022</span> <br />
            <span class="text-sm font-normal">🔗 <a href='https://www.coursera.org/account/accomplishments/specialization/certificate/8JXUUVCMN5Z9' target='_blank'>Certificate of Completion</a></span>
          </span>
        `,
        icon: 'tabler:school',
      },
      {
        title: `Artificial Intelligence for Trading <br />
          <span class="font-normal">Udacity</span> <br />
          <span class="text-sm font-normal">Program Completion April 2022</span> <br />
          <span class="text-sm font-normal">🔗 <a href='https://blog.duaneleem.com/graduated-udacity-ai-for-trading/' target=''>Certificate of Completion</a></span>
        `,
        icon: 'tabler:school',
      },
      {
        title: `Certified Kubernetes Application Developer <br />
          <span class="font-normal">The Cloud Native Computing Foundation</span> <br />
          <span class="text-sm font-normal">Certified January 2021</span> <br />
          <span class="text-sm font-normal">🔗 <a href='https://blog.duaneleem.com/certified-kubernetes-application-developer-i-passed/' target=''>Certificate of Completion</a></span>
        `,
        icon: 'tabler:school',
      },
      {
        title: `Cloud & DevOps: Continuous Transformation <br />
          <span class="font-normal">MIT Professional Education</span> <br />
          <span class="text-sm font-normal">Program Completion August 2020</span> <br />
          <span class="text-sm font-normal">🔗 <a href='https://blog.duaneleem.com/mit-cloud-devops-continuous-transformation/' target=''>Certificate of Completion</a></span>
        `,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    id="skills"
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bridge technology teamwork and innovation."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'CI/CD Pipelines',
        description: `Safely automate the transition of code from development to production.`,
      },
      {
        title: 'Microservices',
        description: `Build microservices to fortify our application architecture and meet organizational objectives.`,
      },
      {
        title: 'Kubernetes',
        description: `Manage Kubernetes clusters to deliver scalable, resilient, and high-performance solutions`,
      },
      {
        title: 'Serverless Architecture',
        description: `Leverage serverless technology to minimize infrastructure overhead and accelerate time-to-market.`,
      },
      {
        title: 'Terraform Cloud Solutions',
        description: `Architect cloud infrastructures using Terraform to align with organizational scalability and security goals.`,
      },
      {
        title: 'Agile Project Management',
        description: `Drive Agile Project Management initiatives to enhance team productivity and fulfill organizational goals.`,
      },
      {
        title: 'E-Commerce Platforms',
        description: `Manage e-commerce stability and payment security across organizational platforms.`,
      },
      {
        title: 'Integrate Marketing Platforms',
        description: `Seamlessly integrate key marketing platforms like Marketo, Salesforce, and ClickFunnels with core organizational systems.`,
      },
      {
        title: 'Adaptability',
        description: `Champion the organization's adaptability to technology changes, focusing on agility and business alignment.`,
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="projects"
    title="Visions Realized"
    subtitle="Successfully navigating through complex project lifecycles, each initiative moved from ideation to completion. Leveraging Agile methodologies and DevOps practices, and benefiting from cross-functional team collaboration, every project met or exceeded quality and timeline expectations. This section showcases these accomplishments."
    isReversed
    items={[
      {
        title: 'Description:',
        description: `
          To enhance security and scalability during peak traffic, I've transformed WordPress components into immutable structures, significantly 
          boosting server resilience against DDoS attacks and ensuring high uptime, thereby increasing profitability through reliable user access.
        `,
      },
      {
        title: 'Role:',
        description: `
          As a DevOps Engineer, I spearheaded the development of a comprehensive proof of concept, crafting vital components such as CI/CD 
          pipelines, WordPress plugins, and firewall configurations, seamlessly integrating them through meticulous programming.
        `,
      },
    ]}
    image={{
      src: 'https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/version-2/project-kubernetes-wordpress.webp',
      alt: 'Tech Design Image',
    }}
  >
  
    <!-- callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }} -->

    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Kubernetes WordPress<br /><span class="text-2xl">Making WordPress Scalable</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `
          We've expertly integrated Marketo across our website, including the cart, checkout, and e-commerce 
          platform, to deliver an unparalleled educational experience for our customers, enhancing engagement and streamlining their journey.
        `,
      },
      {
        title: 'Role:',
        description: `
          As the lead on the Marketo integration, I skillfully utilized technologies like Kubernetes, Python, and Ansible, employing iterative 
          project management methodologies. This strategic approach ensured the seamless incorporation of Marketo across our platform, 
          culminating in the successful delivery of a robust final product to the organization.
        `,
      },
    ]}
    image={{
      src: 'https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/version-2/project-marketo-integration-2.webp',
      alt: 'Fashion e-commerce Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Marketo Integration <br /><span class="text-2xl">Elevating Our E-Commerce Experience</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `
          To enhance customer decision-making and UX, we've meticulously upgraded our entire checkout process, offering a smoother, more intuitive 
          journey. This refinement includes an expanded range of payment options like Klarna and PayPal, tailored to best suit our clients' diverse 
          day trading needs and preferences.
        `,
      },
      {
        title: 'Role:',
        description: `
          I led the project, adeptly managing stakeholder expectations and clearly communicating technical requirements. By developing detailed 
          functional specifications, I coordinated the project's many intricate components, steering it to successful and timely completion. My 
          approach showcased an ability to navigate complex operational environments effectively.
        `,
      },
    ]}
    image={{
      src: 'https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/version-2/project-genesis.webp',
      alt: 'Project Genesis',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project Genesis <br /><span class="text-2xl">Redefining the Online Shopping Journey.</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    id="testimonials"
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `
          Duane was very resourceful and highly motivated when working the Help Desk at Vodafone. All the 
          internal customers loved how patient and personable he was over the phone when assisting them with their 
          issues. Duane was able to handle multiple tasks and was always willing to work outside his job 
          responsibilties. If he didn't know an answer he would do the research to find it. I highly recommmend him 
          as a valued employee.
        `,
        name: 'Sharen Hamasaki',
        job: 'Sr. Systems Engineer | Vodafone',
        image: {
          src: 'https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/version-2/testimonials-export-sharen.webp',
          alt: 'Sharen Hamasaki',
        },
      },
      {
        testimonial: `
          I highly recommend Duane Leem for his exceptional tech skills and leadership abilities. As the past 
          Toastmasters Division B Director, I have had the pleasure of working closely with Duane in his role as one 
          of my Area Directors for 2021-2022.

          During that time Duane was an invaluable asset, a great team player, extremely reliable and proved to be an important member...
        `,
        read_more_title: `Joanne's Full Testimonial`,
        read_more: `/testimonial-joanne-bradley`,
        name: 'Joann Bradley, DTM',
        job: 'Co-Chair | Toastmasters D57 Speakers Bureau',
        image: {
          src: 'https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/version-2/testimonials-export-joanne-bradley.webp',
          alt: 'Joann Bradley, DTM',
        },
      },
      {
        testimonial: `
          There are not enough Great words to describe Duane Leem and his extraordinary talented work. I hired Duane many 
          years ago to work with me in my California office to build my Stagedhomes official website in the early 2,000s 
          years. And Build it he did. His care, openness, talent and knowledge were outstanding and grew to be Totally AMAZING. 
        `,
        read_more_title: `Barb's Full Testimonial`,
        read_more: `/testimonial-barb-schwarz`,
        name: 'Barb Schwarz',
        job: 'Inventor of Home Staging & Staging Industry',
        image: {
          src: 'https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/version-2/testimonials-export-barb-schwarz.webp',
          alt: 'Barb Schwarz, Inventor of Home Staging',
        },
      },
      {
        testimonial: `
          Duane was an excellent project manager at Novactive, conscientious and organized, he is someone you can count on.
          He is resourceful and highly motivated, always willing to do things right, he carefully managed clients to always find a way to get the job done. 
          Fast learner and detail oriented, his technical skills coupled with his agile pragmatic approach helped a lot on projects we were on. 
          I would not hesitate to endorse him to anyone requesting this.
        `,
        name: 'Sébastien Morel',
        job: 'Chief Technology Officer | Crystallize',
        image: {
          src: 'https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/version-2/testimonials-export-sebastien-morel.webp',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `
          Duane is enthusiastic about his work and always makes himself available to his colleagues. He's helpful, knowledgeable and a great problem 
          solver. He's able to take on multiple projects at a time and goes out of his way to accomplish them in a timely manner. It was a real treat 
          to work with Duane!
        `,
        name: 'Michelle Galvez',
        job: 'Marketing Manager | Staged Homes',
        image: {
          src: 'https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/version-2/testimonials-export-michelle-galvez.webp',
          alt: 'Michelle Galvez Image',
        },
      },
      {
        testimonial: `
          I am writing to highly recommend Duane Leem for his exceptional technical assistance in developing the Toastmasters District 57 Speakers 
          Bureau website.

          Duane has been an invaluable asset to the project, consistently demonstrating his deep understanding of web development and his
          dedication to producing high-quality work.
        `,
        read_more_title: `Gary's Full Testimonial`,
        read_more: `/testimonial-gary-mckinsey`,
        name: 'Gary McKinsey, EA',
        job: 'Chair | Toastmasters D57 Speakers Bureau',
        image: {
          src: 'https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/version-2/testimonials-export-gary-mckinsey.webp',
          alt: 'Gary McKinsey Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->
  <CallToAction
    title="Let's Collaborate to Bring Your Vision to Life!"
    subtitle="Ready to turn your vision into a fully realized, production-grade application?"
    actions={[{
      variant:"primary",
      text: 'Contact Me',
      href: 'https://blog.duaneleem.com/contact-duane/',
    }]}
  />

  <!-- BlogLatestPost Widget **************** -->
  <BlogLatestPosts
    id="blog"
    title="Browse my blog for articles and insights"
    information={`Explore a blend of tech insights and DevOps wisdom, with a sprinkle of WordPress magic, on my enlightening and engaging blog`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
