---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Duane Leem | DevOps Engineer',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Education', href: '#education' },
        { text: 'Portfolio', href: '#portfolio' },
        { text: 'Blog', href: 'https://blog.duaneleem.com/' },
        { text: 'Github', href: 'https://github.com/duaneleem' },
      ]}
      actions={[
        {
          text: 'LinkedIn',
          href: 'http://www.linkedin.com/in/duaneleem',
          target: '_blank'
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Duane Leem"
    tagline="DevOps Engineer"
    actions={[{ variant: "primary", target: '', text: 'About Me', href: '#about' }]}
  >
    <Fragment slot="subtitle">
      With over two decades in IT, I've been a key resource in managing complex systems and 
      developing diverse software applications. Specialized in Software Engineering and 
      Project Management, my career showcases a rich timeline of milestones that reflect 
      my expertise in the IT landscape.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/duaneleem',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'http://www.linkedin.com/in/duaneleem',
        },
      },
      {
        icon: 'tabler:brand-google-drive',
        callToAction: {
          target: '_blank',
          text: 'Resume',
          href: 'https://docs.google.com/document/d/1bvakr9gKH-lk7mX_VRstMJ-3Vv3tJLSQuiHWkOdnrUs/edit?usp=sharing',
        },
      }
    ]}
    image={{
      src: 'https://blog.duaneleem.com/wp-content/uploads/2023/10/Profile-20230718-Duane-Leem.jpeg',
      alt: 'Duane Leem, PMP',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h3>
      <p>
        Beginning in the year 2000, I have been an instrumental resource for both business associates and 
        clientele, skillfully managing intricate systems and networking architectures, as well as crafting 
        a diverse array of software applications. My professional journey in the realm of Information 
        Technology is particularly focused on the specialized fields of Software Engineering and Project 
        Management. 
      </p>
      <br />
      <p>
        To offer a comprehensive overview of my career milestones, I've assembled a detailed timeline that 
        highlights my depth of experience within the IT sector. 
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:`
          Senior DevOps Manager <span class="text-sm font-normal">(2022 - 2023)</span> <br />
          <ul class="dl-steps-li-previous-roles">
            <li><span class="font-normal">Lead DevOps Engineer <span class="text-sm font-normal">(2018 - 2022)</span></span></li>
          </ul>
          <span class="font-normal">Warrior Trading, San Francisco Bay Area, CA</span> <br />
          <span class="text-sm font-normal">2018 - Present</span>
        `,
        description: `As a Senior DevOps Engineer at Warrior Trading, I lead AWS & Kubernetes initiatives to enhance server performance. Proficient in multiple technologies, my focus is on automating software delivery through Jenkins, Ansible, and Terraform. Committed to innovation, I ensure high availability and quick deployments.`,
        icon: 'tabler:briefcase',
      },
      {
        title: `
          Chief Technology Officer <span class="text-sm font-normal">(2014 - 2018)</span> <br />
          <ul class="dl-steps-li-previous-roles">
            <li><span class="font-normal">Director of Technology <span class="text-sm font-normal">(2010 - 2014)</span></span></li>
            <li><span class="font-normal">Lead Web Developer</span> <span class="text-sm font-normal">(2006 - 2010)</span></li>
            <li><span class="font-normal">Network Administrator</span> <span class="text-sm font-normal">(2006)</span></li>
          </ul>
          <span class="font-normal">Staged Homes, San Francisco Bay Area, CA</span> <br /> <span class="text-sm font-normal">2006 - 2018</span>
        `,
        description: `As the Software Engineering Manager, I've led projects from concept to completion, utilizing tech resources like AWS, Google 
          Cloud, and Docker. Specialized in digital product development, I've used Photoshop, Sketch, Bootstrap, Angular, and 
          Agile methodologies to deliver impactful UI/UX designs. At Staged Homes, I've reduced costs by migrating to cloud 
          solutions and enhanced marketing strategies using SalesForce and other tools. I've automated business processes and 
          app deployments, adapting swiftly to market changes with technologies like Angular and React.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="education"
    title="Education"
    items={[
      {
        title: `Master of Science in Information Technology Management <br />
          <span class="font-normal">Golden Gate University, Ageno School of Business</span> <br />
          <span class="text-sm font-normal">Graduated 2014</span> <br />
          <span class="text-sm font-normal">🔗 <a href='https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/achievements/201504-masters-itm.jpg' target='_blank'>Master's of Science Degree</a></span>
        `,
        icon: 'tabler:school',
      },
      {
        title: `Machine Learning Engineering for Production (MLOps) Specialization <br />
          <span class="font-normal">DeepLearning.ai</span> <br />
            <span class="text-sm font-normal">Program Completion December 2022</span> <br />
            <span class="text-sm font-normal">🔗 <a href='https://www.coursera.org/account/accomplishments/specialization/certificate/8JXUUVCMN5Z9' target='_blank'>Certificate of Completion</a></span>
          </span>
        `,
        icon: 'tabler:school',
      },
      {
        title: `Artificial Intelligence for Trading <br />
          <span class="font-normal">Udacity</span> <br />
          <span class="text-sm font-normal">Program Completion April 2022</span> <br />
          <span class="text-sm font-normal">🔗 <a href='https://blog.duaneleem.com/graduated-udacity-ai-for-trading/' target=''>Certificate of Completion</a></span>
        `,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bridge technology teamwork and innovation."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'CI/CD Pipelines',
        description: `Safely automate the transition of code from development to production.`,
      },
      {
        title: 'Microservices',
        description: `Build microservices to fortify our application architecture and meet organizational objectives.`,
      },
      {
        title: 'Kubernetes',
        description: `Manage Kubernetes clusters to deliver scalable, resilient, and high-performance solutions`,
      },
      {
        title: 'Serverless Architecture',
        description: `Leverage serverless technology to minimize infrastructure overhead and accelerate time-to-market.`,
      },
      {
        title: 'Terraform Cloud Solutions',
        description: `Architect cloud infrastructures using Terraform to align with organizational scalability and security goals.`,
      },
      {
        title: 'Agile Project Management',
        description: `Drive Agile Project Management initiatives to enhance team productivity and fulfill organizational goals.`,
      },
      {
        title: 'E-Commerce Platforms',
        description: `Manage e-commerce stability and payment security across organizational platforms.`,
      },
      {
        title: 'Integrate Marketing Platforms',
        description: `Seamlessly integrate key marketing platforms like Marketo, Salesforce, and ClickFunnels with core organizational systems.`,
      },
      {
        title: 'Adaptability',
        description: `Champion the organization's adaptability to technology changes, focusing on agility and business alignment.`,
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="portfolio"
    title="Visions Realized"
    subtitle="Successfully navigating through complex project lifecycles, each initiative moved from ideation to completion. Leveraging Agile methodologies and DevOps practices, and benefiting from cross-functional team collaboration, every project met or exceeded quality and timeline expectations. This section showcases these accomplishments."
    isReversed
    items={[
      {
        title: 'Description:',
        description: `
          Suspendisse tincidunt dictum tincidunt. Aliquam erat volutpat. Duis pellentesque massa sed 
          nisl tincidunt tincidunt. Nullam eu arcu turpis. Vivamus ultrices condimentum ante quis 
          vestibulum. Mauris volutpat rhoncus mi, nec facilisis nisi posuere id. Quisque malesuada 
         faucibus mauris non lacinia. Nam eget convallis metus.
        `,
      },
      {
        title: 'Role:',
        description: `
          Aenean vestibulum aliquet augue, a consectetur tortor maximus vitae. Nam ultrices lobortis 
          justo, in fermentum lorem consequat eget. Sed auctor, purus et suscipit tristique, massa quam 
          lacinia quam, ac elementum lacus eros ac elit. Fusce vestibulum mattis aliquet.
        `,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project Phoenix<br /><span class="text-2xl">Toastmasters Clubs that Last: A Future Blueprint.</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `
          Suspendisse tincidunt dictum tincidunt. Aliquam erat volutpat. Duis pellentesque massa sed 
          nisl tincidunt tincidunt. Nullam eu arcu turpis. Vivamus ultrices condimentum ante quis 
          vestibulum. Mauris volutpat rhoncus mi, nec facilisis nisi posuere id. Quisque malesuada 
         faucibus mauris non lacinia. Nam eget convallis metus.
        `,
      },
      {
        title: 'Role:',
        description: `
          Aenean vestibulum aliquet augue, a consectetur tortor maximus vitae. Nam ultrices lobortis 
          justo, in fermentum lorem consequat eget. Sed auctor, purus et suscipit tristique, massa quam 
          lacinia quam, ac elementum lacus eros ac elit. Fusce vestibulum mattis aliquet.
        `,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Project Genesis',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project Genesis: <br /><span class="text-2xl">Redefining the Online Shopping Journey.</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `
          Suspendisse tincidunt dictum tincidunt. Aliquam erat volutpat. Duis pellentesque massa sed 
          nisl tincidunt tincidunt. Nullam eu arcu turpis. Vivamus ultrices condimentum ante quis 
          vestibulum. Mauris volutpat rhoncus mi, nec facilisis nisi posuere id. Quisque malesuada 
         faucibus mauris non lacinia. Nam eget convallis metus.
        `,
      },
      {
        title: 'Role:',
        description: `
          Aenean vestibulum aliquet augue, a consectetur tortor maximus vitae. Nam ultrices lobortis 
          justo, in fermentum lorem consequat eget. Sed auctor, purus et suscipit tristique, massa quam 
          lacinia quam, ac elementum lacus eros ac elit. Fusce vestibulum mattis aliquet.
        `,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project Aurora: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    id="testimonials"
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `
          Duane was very resourceful and highly motivated when working the Help Desk at Vodafone. All the 
          internal customers loved how patient and personable he was over the phone when assisting them with their 
          issues. Duane was able to handle multiple tasks and was always willing to work outside his job 
          responsibilties. If he didn't know an answer he would do the research to find it. I highly recommmend him 
          as a valued employee.
        `,
        name: 'Sharen Hamasaki',
        job: 'Sr. Systems Engineer | Vodafone',
        image: {
          src: 'https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/version-2/testimonials-export-sharen.webp',
          alt: 'Sharen Hamasaki',
        },
      },
      {
        testimonial: `
          I highly recommend Duane Leem for his exceptional tech skills and leadership abilities. As the past 
          Toastmasters Division B Director, I have had the pleasure of working closely with Duane in his role as one 
          of my Area Directors for 2021-2022.

          During that time Duane was an invaluable asset, a great team player, extremely reliable and proved to be an important member...
        `,
        read_more_title: `Joanne's Full Testimonial`,
        read_more: `/testimonial-joanne-bradley`,
        name: 'Joann Bradley, DTM',
        job: 'Co-Chair | Toastmasters D57 Speakers Bureau',
        image: {
          src: 'https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/version-2/testimonials-export-joanne-bradley.webp',
          alt: 'Joann Bradley, DTM',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Alex Foster',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's Collaborate to Bring Your Vision to Life!"
    subtitle="Ready to turn your vision into a fully realized, production-grade application?"
    actions={[{
      variant:"primary",
      text: 'Contact Me',
      href: 'https://blog.duaneleem.com/contact-duane/',
    }]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
