---
import { SITE } from '~/utils/config';
---
<span><img src="https://blog.duaneleem.com/wp-content/uploads/2023/08/Logo-PMP-2021-150x150.png" alt="Project Management Professional (PMP)" style="width: 34px; height: 34px;" /></span>
<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  {SITE?.name}
  <!-- 🚀 {SITE?.name} -->
  <!-- 🚀 Duane Leem -->
</span>
