---
import { SITE } from '~/utils/config';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <!-- 🚀 {SITE?.name} -->
  <!-- <img src="https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/logo.png" style="width: 280px; height: 40px;" /> -->
  🚀 Duane Leem
</span>
