---
import Layout from '~/layouts/ProjectsLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Kubernetes WordPress',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero
    tagline="Project Details"
    title="Kubernetes WordPress"
    subtitle="Making WordPress Scalable"
  />

  <!-- Body ******************* -->
  <p>This is a test.</p>

  <!-- CallToAction Widget *********** -->
  <CallToAction
    title="Let's Collaborate to Bring Your Vision to Life!"
    subtitle="Ready to turn your vision into a fully realized, production-grade application?"
    actions={[{
      variant:"primary",
      text: 'Contact Me',
      href: 'https://blog.duaneleem.com/contact-duane/',
    }]}
  />
</Layout>
