---
import Layout from '~/layouts/ProjectsLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Kubernetes WordPress',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero
    tagline="Project Details"
    title="Kubernetes WordPress"
    subtitle="Making WordPress Scalable"
  />

  <!-- =======================================================
    The Problem 
  ======================================================= -->
  <Content
    id="problem"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/duaneleem',
        },
      }
    ]}
    image={{
      src: 'https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/version-2/project-kubernetes-the-problem.webp',
      alt: 'Duane Leem, PMP',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">The Problem</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque purus mauris, eleifend vitae pulvinar non, pretium eget tellus. Nullam aliquam elementum augue, sed viverra metus finibus nec. Proin lacinia elit vel ipsum laoreet laoreet. Ut mattis in nisl rutrum feugiat. Duis orci sapien, efficitur id metus in, porta scelerisque dui. Ut egestas luctus leo, vel euismod nibh suscipit et. Cras vulputate risus ac odio ultrices commodo. Fusce quis urna erat. Curabitur in arcu nibh. Curabitur suscipit quam eu nisl mollis volutpat.  
      </p>
      <br />
      <p>
        Donec ac lorem eget mi molestie iaculis. Suspendisse iaculis ipsum vitae libero auctor finibus. Nunc eget fermentum nibh, vitae finibus dui. Aliquam vitae dui egestas, ornare mi vitae, ultrices quam, ornare vitae. 
      </p>
    </Fragment>

    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Content>

  <!-- =======================================================
    The Solution 
  ======================================================= -->
  <Content
    isReversed
    id="solution"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/duaneleem',
        },
      }
    ]}
    image={{
      src: 'https://d1xrp9zhb3ks3c.cloudfront.net/web/duaneleem/images/version-2/project-kubernetes-the-problem.webp',
      alt: 'Duane Leem, PMP',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">The Solution</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et maximus nisi, vel viverra odio. Nulla ullamcorper diam non massa commodo, eget vulputate massa ultricies. Fusce quis dui ut orci vehicula porttitor. Aliquam lacinia mi nec purus tempor efficitur. Pellentesque congue vitae magna lacinia congue. Vestibulum varius congue magna, ultricies bibendum nunc pulvinar vitae. Vestibulum pellentesque massa in ligula porttitor laoreet in vel nisi. Suspendisse fringilla malesuada purus. Donec quis venenatis justo, non placerat tortor. Maecenas suscipit porttitor quam, eget volutpat sapien accumsan a. Fusce in felis non sapien feugiat vulputate. Aenean placerat turpis iaculis tempor pretium. Cras porta augue rhoncus nulla iaculis gravida dictum.
      </p>
      <br />
      <p>
        Donec ac lorem eget mi molestie iaculis. Suspendisse iaculis ipsum vitae libero auctor finibus. Nunc eget fermentum nibh, vitae finibus dui. Aliquam vitae dui egestas, ornare mi vitae, ultrices quam, ornare vitae. 
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->
  <CallToAction
    title="Let's Collaborate to Bring Your Vision to Life!"
    subtitle="Ready to turn your vision into a fully realized, production-grade application?"
    actions={[{
      variant:"primary",
      text: 'Contact Me',
      href: 'https://blog.duaneleem.com/contact-duane/',
    }]}
  />
</Layout>
